*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
}

.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;

}

header{
    height: 100vh;
    background-image: linear-gradient(to top, rgb(251, 194, 235, 0.4) 0%, rgb(166, 193, 238, 0.4) 100%), url(../img/alojamiento.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.head{
    text-align: center;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-image: linear-gradient(to top, #fdcbf18b 0%, #fdcbf18b 1%, #e6dee99e 100%);
    padding: 10px 20px;
}


.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    height: 3px;
    width: 25px;
    background-color: #42297e;
    margin: 3px 0;
}


.nav-list {
    list-style-type: none;
    display: flex;
}

.nav-item {
    margin: 0 10px;
}

.nav-link {
    text-decoration: none;
    color: #42297e;
    font-size: 16px;
}


.titulo{
    font-size: 60px;
    margin-bottom: 15px;

}

.copy{
    font-weight: 300;
    font-size: 25px;
}


.subtitulo{
    text-align: center;
    font-weight: 300;
    color: #9f8ad0;
    margin-bottom: 40px;
    font-size: 40px;

}

.contenedor-servicio{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

}

.contenedor-servicio img{
    width: 40%;
    
}

.checklist-servicio{
    width: 45%;
}

.service{
    margin-bottom: 20px;

}

.n-service{
    margin-bottom: 7px;
    color: #9f8ad0;

}

.number{
    display: inline-block;
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    width: 30px;
    height: 30px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-weight: 700;
    line-height: 30px;
    margin-right: 5px;
}

.gallery{
    background: #f2f2f2;

}

.contenedor-galeria{
     width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.img-galeria{
     width: 30%;
    margin-bottom: 30px;
    height: 200px;
    object-fit: cover;
    border-radius: 3px ;
    box-shadow: 0 0 3px rgba(0, 0, 0, .6);
}

.imagen-light{
    position: fixed;
    background: rgba(0, 0, 0, .6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(100%);
    transition: transform .2 ease-in-out;

}

.show{
    transform: translate(0);
}

.agregar-imagen{
    object-fit: cover;
    width: 60%;
    border-radius: 10px;
    transform: scale(0);
    transition: transform .3s .2s;
}

.showImage{
    transform: scale(1);
}

.close{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    cursor: pointer;
}

.experts{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;

}

.cont-expert{
    width: 30%;
    text-align: center;
    margin-bottom: 20px;

}

.cont-expert img{
    width: 80%;
    display: block;
    margin: 0 auto;
}

.n-expert{
    display: inline-block;
    margin-top: 20px;
    width: 100%;
    font-weight: 500;

}

.formulario{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}



.container {
    display:grid;
    grid-template-columns: repeat(2,50%);
    padding:20px;
    gap:10px;
    width: 1000px;
    background-image: linear-gradient(120deg, #c9c9c9dc 0%, #c7c9cbc7 100%);
    align-items: center;

}

.box-info {
    color:#363535;
    display:flex;
    flex-direction: column;
    gap:50px;
}

.box-info > h2 {
    text-align: left;
    letter-spacing: 5px;
    color: #363535;
}

.data {
    display: flex;
    flex-direction: column;
    gap:25px
}

.data > p {
    font-size: 1rem;
}

.data > p > i {
    color:#9f8ad0;
    margin-right: 10px;
    font-size:25px;
}



.links {
    display:flex;
    gap:15px;
}

.links > a {
    text-decoration: none;
    width: 40px;
    height: 40px;
    background: #9f8ad0;
    text-align: center;
    transition: .1s;
}

.links > a > i {
    color:#fff;
    line-height: 40px;
    font-size: 20px;
}

form {
    display:flex;
    flex-direction: column;
    text-align: center;
    gap:15px;
}

.input-box {
    position:relative;
}
.input-container{
    position:relative;
}

.input-container> input {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    outline:none;
    background: rgba(253, 253, 253, 0.717);
    border:3px solid transparent;
    letter-spacing: 1px;
    transition:.3s;
    color:#9f8ad0;
    
}

.input-container > input::placeholder,
.input-container > textarea::placeholder {
    color:#a3a3a3;
    
}

.input-container > input:focus::placeholder,
.input-container > textarea:focus::placeholder {
    color:transparent;
}

.input-container > input:focus,
.input-container> textarea:focus {
    border-bottom:3px solid #9f8ad0;
    animation: shake .2s;
}

.input-container > textarea {
    width: 100%;
    height: 130px;
    padding: 10px;
    background: rgba(253, 253, 253, 0.717);
    border:3px solid transparent;
    letter-spacing: 1px;
    outline: none;
    transition:.3s;
    color:#9f8ad0;
    letter-spacing: 1.5px;
}


.input-container > i {
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    right: 10px;
    color:#9f8ad0;
    transition: .3s;
}

.input-container > input:focus ~ i {
    color:#9f8ad0;
}

form > input {
    width: 100%;
    padding: 10px;
    outline: none;
    background: #9f8ad0;
    color:#fff;
    border:none;
    transition: .1s;
    cursor: pointer;
    font-size: 1rem;
}

form > input:hover,
.links > a:hover {
    background: #623fb4;
}
.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 5px;
    right: 65px;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    z-index: 100;
    overflow: hidden;
}


  .my-float {
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url(../img/whatsappIcon_a.png);
    background-size: contain;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
}

footer{
    background: #9f8ad0;
    padding-bottom: 0.1px;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}

.contact-us{
    width: 40%;
    color: #fff;
}

.brand{
    font-weight: 500;
    font-size: 40px;
}

.brand+p{
    font-weight: 500;
}
.social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;

}

.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;

}

.social-media-icon:hover{
    background: #fff;
    color: #764ba2;

}

.social-media-icon i{
    font-size: 30px;
    line-height: 60px;

}

.line{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 2px;
    background: #fff;
    margin-bottom: 60px;

}

@media screen and (max-width:800px){
    .menu-navegacion{
        width: 50vw;
    }

    .titulo{
        font-size: 40px;


    }

    .contenedor-servicio img{
        width: 80%;
        margin-bottom: 40px;

    }

    .checklist-servicio{
        width: 80%;
    }

    .service{
        margin-bottom: 30px;
    }

    .agregar-imagen{
        width: 80%;
    }

    .img-galeria{
        width: 45%;

    }

    .cont-expert{
        width: 80%;

    }

    .footer-content{
        justify-content: center;
    }

    .social-media{
        width: 80%;
        justify-content: space-evenly;

    }

    .social-media-icon{
        margin-left: 0;
    }
    .social-media i{
        margin-left: 0;
    }

    .contact-us{
        text-align: center;
        width: 80px;
        margin-bottom: 40px;
    }

}

@media screen and (max-width:500px){
    /* .menu-navegacion{
        width: 65vw;
        display:flex;
        flex-direction: column;
    } */

    .menu-toggle {
        display: flex;
    }

    .nav-list {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        background-image: linear-gradient(to top, #fdcbf18b 0%, #fdcbf18b 1%, #e6dee99e 100%);
        position: absolute;
        top: 60px;
        left: 0;
    }

    .nav-item {
        margin: 10px 0;
    }

    .nav-link {
        font-size: 18px;
    }

    .nav-list.active {
        display: flex;
    }

    .titulo{
        font-size: 30px;
    }
    .subtitulo{
        font-size: 30px;
    }

    .agregar-imagen{
        width: 95%;
    }

    .img-galeria{
        width: 95%;
    }

    .social-media{
        width: 100%;
    }

    .contact-us{
        width: 90%;
    }

}
@keyframes shake { 
    0%, 100% {transform: translateX(0);} 
    10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);} 
    20%, 40%, 60%, 80% {transform: translateX(10px);} 
 }


@media screen and (max-width:600px) {
    .container {
        width: 95%;
        display: flex;
        flex-direction: column;
        gap:20px;
    }

    .box-info {
        gap:15px;
    }

    .box-info > h1 {
        font-size: 1.5rem;
    }
}